* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "system-ui", sans-serif;
}

h1.title {
    font-size: 3rem;
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    background-color: #f1356d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f1356d;
}

button:active {
    background-color: #f1356d;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.format-time {
    font-size: 4rem;
    letter-spacing: 2px;
}

.controls-container {
    display: flex;
    gap: 10px;
}

.diff {
    color: forestgreen;
}